root {
  --main-color-beige: #F1CDB3;
  --beige-light-hover: #FDDCC4;
}

html {
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  font-family: Georgia;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.gradient-container {
  width: 100%;
  background-image: url(../../assets/noise_transparent.png);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header-wrapper.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* .section-not-only {
  /* background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); */
/* background-position: bottom right; */


.section-not-only-wrapper.wrapper {
  max-width: 1280px;
  margin: 0 auto;

}

.background-container {
  background-position: top;
  background-size: 100% auto;
  height: 100%;
}

.header {
  padding-top: 60px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.logo-title {
  font-size: 32px;
  color: #F1CDB3;
  font-weight: 400;
  margin-bottom: 5px;
  letter-spacing: 2.2px;
}

.logo-text {
  color: white;
  font-size: 13px;
  font-family: 'Arial';
  letter-spacing: 1.3px;
  margin-left: 4px;
}

.logo-title:hover,
.logo-text:hover {
  color: #FDDCC4;
  transition: 0.3s;
}

.logo-title:active,
.logo-text:active {
  color: #f8e6da;
  transition: 0.3s;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 36px;
}

.nav-item {
  border-bottom: 3px solid transparent;
}

.nav-link,
.paragraph {
  font-size: 15px;
  color: #CDCDCD;
  font-family: 'Arial';
}

.nav-link:hover {
  color: #FAFAFA;
  transition: 0.3s;
}

.nav-link:active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  /* transition: 0.3s; */
}

.highlight-text.nav-link {
  color: #Fafafa;
  border-bottom: 3px solid #F1CDB3;
  cursor: auto;
}

.not-only-container {

  /* margin-bottom: 243px; */
  display: flex;
  flex-direction: row;
  gap: 42px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: flex-start;
}

.not-only-text-container {
  margin-top: 223px;
  width: fit-content;
}

.not-only-puppy-container {
  background: url(../../assets/start-screen-puppy.png);
  width: 698px;
  height: 728px;
  margin-top: 61px;
}

.not-only-heading {
  font-size: 44px;
  font-family: Georgia;
  font-weight: 400;
  color: white;
  margin-bottom: 42px;
  line-height: 57.2px
}

.button {
  border-radius: 100px;
  padding: 0px;
  border-width: 0px;
  cursor: pointer;
}

.form-wrapper {
  max-width: 207px;
  width: 207px;
  height: 52px;
}

.form_make-friend {
  width: 100%;
  height: 100%;
}

.button_make-friend {
  background-color: #F1CDB3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover,
.arrow-left.button:hover,
.arrow-right.button:hover,
button:hover {
  background-color: #FDDCC4;
  border: none;
  transition: 0.3s;
}

.button:active,
.arrow-left.button:active,
.arrow-right.button:active,
button:active {
  background-color: #f8e6da;
  border: none;
  transition: 0.3s;
}

.paragraph {
  margin-bottom: 42px;
  line-height: 1.5rem;
}

.button-text {
  color: #292929;
  font-size: 17px;
  font-family: Georgia;
  letter-spacing: 1.2px;
}

/* SECTION ABOUT  */
.section-about {
  background-color: white;
}

.about-section-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16.8%;
  margin-right: 16.8%;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 9.375%;

}

.about-text-container {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  width: 50.5%;
}

.section-heading {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
}

.about-section-heading {
  text-align: left;
  color: #545454;
}

.about-section-img {
  height: 408px;
  background-image: url(../../assets/about-pets.png);
  background-repeat: no-repeat;
  min-width: 300px;
}

.about-paragraph.first,
.about-paragraph.second {
  margin-top: 25px;
}

.about-paragraph {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #4C4C4C;
}

/* SECTION OUR FRIENDS/SLIDER */
.section-our-friends {
  background-color: #F6F6F6;
  color: #545454;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.section-our-friends-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* ИСПРАВИТЬ РАЗМЕР ШРИФТА ЩОБ НЕ ПРЫШАЛ */
.our-friends-heading {
  margin-bottom: 60px;
  text-align: center;
}

.slider-container {
  display: flex;
  flex-direction: row;
  gap: 53px;
  margin-bottom: 60px;
}

.slider-images-container {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.slider-card {
  background-color: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
  cursor: pointer;
}

.slider-card:hover {
  background-color: white;
}

.arrow_form {
  display: flex;
  align-items: center;
}

.arrow-left.button,
.arrow-right.button {
  background-color: #F6F6F6;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
}

.arrow-img.arrow-right {
  transform: rotate(180deg);
}

/* SLIDER CARDS */
.pet-img {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}

.kathrine.pet-img {
  background: url(../../assets/pets-katrine.png);

}

.jennifer.pet-img {
  background: url(../../assets/pets-jennifer.png);
}

.woody.pet-img {
  background: url(../../assets/pets-woody.png);
}

.pet-name {
  margin-bottom: 30px;
}

.paragraph-20,
.help-item-text,
.card-number,
.contact {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.card-number:hover {
  color: #262425;
  transition: 0.3s;
}

.card-number:active {
  color: #292929;
  text-decoration: underline;
  transition: 0.3s;
}

.form_learn-more {
  display: flex;
  justify-content: center;
}

.button_learn-more {
  width: 187px;
  height: 52px;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
}

.button_learn-more:active {
  background-color: #f8e6da !important;
}

.slider-card:hover button {
  background-color: #FDDCC4;
  transition: 0.3s;
}

.form_get-know {
  width: 261px;
  height: 52px;
  margin: 0 auto;
}

.button_get-know {
  width: 261px;
  height: 52px;
  background-color: #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION HELP  */

.section-help {
  background: #fff;
  color: #545454;
  padding-top: 80px;
  padding-bottom: 100px;
}

.section-help-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.section-help-heading {
  text-align: center;
  margin-bottom: 60px;
}

.help-container {
  margin-left: 127px;
  margin-right: 127px;
  display: flex;
  row-gap: 56px;
  column-gap: 119px;
  flex-wrap: wrap;
}

.help-item {
  height: 113px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.help-item img {
  align-self: center;

}

.help-item.vitamins {
  margin-left: 84px;
}

/* SECTION DONATION  */

.section-donation {
  background-color: #F6F6F6;
  color: #545454;
  padding-top: 80px;
  padding-bottom: 100px;
}

.section-donation-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.donation-container {
  margin-left: 182px;
  margin-right: 182px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.donation-puppy-container {
  background-image: url(../../assets/donation-dog.png);
  width: 505px;
  min-width: 505px;
  height: 261px;
  margin-top: 11px;
}

.paragraph-bank-name {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.card-number-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 15px;
  background-color: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
  margin-bottom: 20px;
}

.paragraph-card-legal {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #B2B2B2;
}

/* FOOTER  */
.footer {
  background-image: url(../../assets/noise_transparent.png);
  padding-top: 40px;
}

.footer-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.footer-container {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-text-container {
  display: flex;
  flex-direction: row;
  gap: 161px;
  padding-top: 16px;
}

.footer-heading {
  color: #fff;
}

.footer-heading.contacts {
  margin-bottom: 43px;

}

.contacts-container {
  max-width: 279px;
}

.footer-heading.adresses {
  margin-bottom: 34px;
}

.adresses-container {
  max-width: 302px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contact-container span:hover {
  color: #F6F6F6;
  transition: 0.4s;
}

.contact-container span:active {
  color: #F6F6F6;
  text-decoration: underline;
  transition: 0.4s;
}

.contact-container img {
  align-self: flex-start;
}

.contact-container img:hover {
  background-color: #fddcc453;
  transition: 0.4s;
}

.contact-container img:active {
  background-color: #fafafa73;
  transition: 0.4s;
}

.contact {
  color: #F1CDB3;
  text-align: left;
}

.boston {
  margin-bottom: 37px;
}

.contact-container.email {
  margin-bottom: 43px;
}

.pin-img.first {
  margin-top: 6px;
}

.pin-img.second {
  margin-top: -6px;
}

.pin-img:hover {
  border-radius: 5px;
  transition: 0.4s;
}

.pin-img:active {
  border-radius: 5px;
  transition: 0.4s;
}

.footer-image {
  background-image: url(../../assets/footer-puppy.png);
  width: 300px;
  height: 310px;
}

@media screen and (max-width: 1279px) {
  .about-container {
    margin-left: 16vw;
    margin-right: 16vw;
  }

  /* SLIDER  */

  .slider-card.woody {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .not-only-container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-bottom: 693px;
  }

  .section-not-only {
    background: no-repeat url(../../assets/start-screen-puppy-tablet.png);
    background-position: bottom right;
  }
}

@media screen and (max-width: 976px) {
  .about-container {
    margin-left: 10vw;
    margin-right: 10vw;
    /* min-width: 650px; */
  }

  .slider-images-container {
    gap: 8.2vw;
  }

  .slider-container {
    gap: 5vw;
  }
}

@media screen and (max-width: 830px) {
  .about-section-heading {
    min-width: 302px;
  }

  .slider-images-container {
    gap: 6.2vw;
  }

  .slider-container {
    gap: 3vw;
  }
}

@media screen and (max-width: 785px) {
  .paragraph-space {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container-main {
    max-width: 768px;
  }

  .header {
    padding-top: 30px;
  }

  .header-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section-not-only {
    margin-left: 30px;
    margin-right: 30px;
  }

  .form_make-friend {
    margin-left: auto;
    margin-right: auto;
    width: 207px;
  }

  /* SECTION ABOUT  */


  .about-container {
    flex-direction: column-reverse;
    margin-left: 22vw;
    margin-right: 22vw;
    gap: 80px;
  }

  .about-text-container {
    margin-top: 0;
    width: 100%;
  }

  .about-section-img {
    margin: auto;
    width: 69.7%;
    min-width: 300px;
    background-size: contain;
  }

  /* SLIDER SECTION  */

  .our-friends-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .slider-container {
    gap: 12px;
  }

  .slider-images-container {
    gap: 40px;
  }
}


@media screen and (max-width: 767px) {
  .nav.top {
    display: none;
  }

  .paragraph-space {
    display: none;
  }

  .not-only-container {
    text-align: center;
    width: 90%;
  }

  .not-only-heading {
    font-size: 30px;
    line-height: normal;
  }

  .slider-container {
    position: relative;
    margin-bottom: 114px;
  }

  .arrow_form {
    position: absolute;
    bottom: -71px;
  }

  .arrow_form.left {
    left: calc(50% - 92px);

  }

  .arrow_form.right {
    right: calc(50% - 92px);

  }


}


@media screen and (max-width: 640px) {
  .header-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-not-only {
    background: no-repeat url(../../assets/start-screen-puppy-tablet.png);
    background-position: bottom right;
    background-size: 95%;

  }

  .not-only-container {
    margin-bottom: calc(100vw);
  }

  .about-container {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .about-section-heading {
    font-size: 25px;
    min-width: auto;
    text-align: center;
  }

  .about-section-img {
    width: calc(47vw);
    min-width: 260px;
  }

  .slider-card.jennifer {
    display: none;
  }

  .slider-container {
    justify-content: center;
  }
}


@media screen and (max-width: 600px) {}

@media screen and (max-width: 320px) {
  .header-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .not-only-container {
    width: 100%;
    margin-bottom: 377px;
  }

  .container-main {
    max-width: 320px;
  }

  .section-not-only {
    background: no-repeat url(../../assets/start-screen-puppy-mobile.png);
    background-position: bottom right;
    margin-left: 10px;
    margin-right: 10px;
  }

  .mobile-heading {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
    letter-spacing: 1.35px;
  }

  .paragraph {
    text-align: center;
  }

  /* SECTION ABOUT  */
  .about-container {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 42px;
    gap: 40px;
    padding-bottom: 42.4px;
  }

  .about-paragraph {
    text-align: justify;

  }

  .about-paragraph.second {
    margin-top: 21px;
  }

  .about-section-img {
    height: 353.6px;
    width: 96.3%;
  }

  /* SLIDER SECTION */

  .section-our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .our-friends-container {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .our-friends-heading {
    margin-bottom: 42px;
  }

  .slider-images-container {
    margin-left: auto;
    margin-right: auto;
  }
}